.u-section-2-1 .u-sheet-1 {
  min-height: 689px;
}

.u-section-2-1 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 20px auto 0;
}

.u-section-2-1 .u-image-1 {
  width: 214px;
  height: 214px;
  margin: 8px auto 0;
}

.u-section-2-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-2 {
    margin-left: 56px;
    margin-right: 56px;
  }

  .u-section-2-1 .u-btn-1 {
    margin-top: 61px;
  }
}.u-section-2-2 .u-sheet-1 {
  min-height: 689px;
}

.u-section-2-2 .u-text-1 {
  margin: 140px auto 0;
}

.u-section-2-2 .u-image-1 {
  width: 429px;
  height: 222px;
  object-position: 29% 50%;
  margin: 8px auto 0;
}

.u-section-2-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 700;
  margin: 8px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-image-1 {
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 643px;
  }

  .u-section-2-2 .u-image-1 {
    width: 340px;
    height: 176px;
  }
}.u-section-1 .u-sheet-1 {
  min-height: 1624px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-1 {
  width: 300px;
  height: 300px;
  background-image: url("images/WhatsAppImage2021-02-18at10.52.57.jpeg");
  background-position: 50% 16%;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 420px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  margin: 31px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 3px 484px 0 411px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: -1px 1035px 0 auto;
}

.u-section-1 .u-text-4 {
  margin: -43px 0 0 105px;
}

.u-section-1 .u-text-5 {
  margin: 0 0 0 105px;
}

.u-section-1 .u-icon-2 {
  height: 42px;
  width: 42px;
  margin: -115px 432px 0 auto;
}

.u-section-1 .u-line-1 {
  width: 625px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 86px auto 0 105px;
}

.u-section-1 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 20px auto 0 41px;
}

.u-section-1 .u-text-6 {
  margin: -21px 0 0 105px;
}

.u-section-1 .u-text-7 {
  margin: -54px 0 0 105px;
}

.u-section-1 .u-line-2 {
  width: 912px;
  margin: 104px auto 0 20px;
}

.u-section-1 .u-text-8 {
  margin: 10px 1035px 0 20px;
}

.u-section-1 .u-layout-wrap-2 {
  margin-top: 11px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 672px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 80px;
  width: 64px;
  margin: 11px auto 0 11px;
}

.u-section-1 .u-text-9 {
  margin: -64px 30px 0 95px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 71px;
  margin: 42px auto 0 11px;
}

.u-section-1 .u-text-10 {
  margin: -51px 30px 0 95px;
}

.u-section-1 .u-image-3 {
  width: 64px;
  height: 62px;
  margin: 30px auto 0 11px;
}

.u-section-1 .u-text-11 {
  margin: -47px 30px 0 95px;
}

.u-section-1 .u-image-4 {
  width: 64px;
  height: 62px;
  margin: 26px auto 0 11px;
}

.u-section-1 .u-text-12 {
  margin: -47px 30px 0 95px;
}

.u-section-1 .u-icon-5 {
  height: 73px;
  width: 64px;
  margin: 26px auto 0 11px;
}

.u-section-1 .u-text-13 {
  margin: -60px 30px 0 95px;
}

.u-section-1 .u-shape-1 {
  width: 540px;
  height: 216px;
  margin: -172px auto 0 75px;
}

.u-section-1 .u-text-14 {
  margin: 27px 892px 0 11px;
}

.u-section-1 .u-text-15 {
  margin: 37px 168px 0 95px;
}

.u-section-1 .u-icon-6 {
  background-image: none;
  width: 64px;
  height: 88px;
  margin: -76px auto 0 11px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1432px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 346px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 346px;
  }

  .u-section-1 .u-text-3 {
    margin-top: -2px;
    margin-right: 384px;
    margin-left: 315px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 876px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 351px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -367px;
    margin-left: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: -305px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 11px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 313px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
  }

  .u-section-1 .u-line-2 {
    margin-top: -317px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 835px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-bottom: 0;
    position: relative;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1065px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-1 .u-shape-1 {
    width: 410px;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: 209px;
    margin-right: 703px;
    margin-left: 34px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-top: -145px;
    margin-right: -10px;
    margin-left: 75px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: 20px;
    margin-right: -10px;
    margin-left: 75px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 897px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 265px;
  }

  .u-section-1 .u-image-1 {
    width: 216px;
    height: 216px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 274px;
    margin-left: 241px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 656px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 397px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -399px;
    margin-right: auto;
    margin-left: 20px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -349px;
    margin-left: 95px;
  }

  .u-section-1 .u-icon-3 {
    margin-top: -13px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 381px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 635px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -50px;
  }

  .u-section-1 .u-shape-1 {
    width: 300px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 483px;
    margin-left: 26px;
  }

  .u-section-1 .u-icon-6 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1250px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 518px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 184px;
    margin-left: 181px;
  }

  .u-section-1 .u-icon-1 {
    margin-right: 476px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 419px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -421px;
  }

  .u-section-1 .u-line-1 {
    width: 540px;
    margin-top: -371px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 403px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
    margin-top: -339px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 455px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-9 {
    margin-right: -87px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 343px;
    margin-left: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2608px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-3 {
    width: 256px;
    margin-top: 14px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 144px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: -178px;
    margin-right: 14px;
    margin-left: 62px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -150px;
    margin-right: 91px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-icon-3 {
    margin-top: 60px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 124px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: -118px;
    margin-right: 29px;
    margin-left: 62px;
  }

  .u-section-1 .u-line-2 {
    width: 309px;
    height: 3px;
    transform-origin: right center 0px;
    margin-top: 117px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: 92px;
    margin-top: 67px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 1216px;
  }

  .u-section-1 .u-icon-4 {
    margin-top: 14px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-text-12 {
    margin-right: 0;
  }

  .u-section-1 .u-text-13 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 309px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 11px;
    margin-right: 143px;
    margin-left: 11px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 14px;
    margin-right: 0;
    margin-left: 84px;
  }

  .u-section-1 .u-icon-6 {
    margin-top: -96px;
    margin-right: auto;
    margin-left: 11px;
  }
}.u-block-6fdb-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-6fdb-3 {
  position: absolute;
  left: 0;
  background-image: none;
}

.u-block-6fdb-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  right: 0;
  background-image: none;
}.u-section-3 .u-sheet-1 {
  min-height: 502px;
}

.u-section-3 .u-text-1 {
  width: 550px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-3 .u-form-1 {
  width: 570px;
  margin: 30px auto 60px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-form-1 {
    width: 340px;
  }
}